<p id="notice" class="text-center"><%= notice %></p>

<div class="container">
  <div class="d-flex justify-content-between">
    <div class="p-2">
      <h1>Doctors</h1>
    </div>
    <div class="p-3">
      <div class="input-group">
        <form accept-charset="UTF-8" action="doctors" method="get">
          <input id="doctor" name="doctor" type="text" class="form-control" placeholder="Firstname or lastname..."/>
        </form>
      </div>
    </div>
    <div class="p-3">
      <%= link_to 'New Doctor', new_doctor_path, :class => "btn btn-primary btn-sm" %>
    </div>
  </div>

  <table class="table table-stripped table-hover">
    <thead>
    <tr>
      <th><%= sortable "firstname", "Firstname" %></th>
      <th><%= sortable "lastname", "Lastname" %></th>
      <th><%= sortable "occupation", "Occupation" %></th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
      <td><%= doctor.firstname %></td>
      <td><%= doctor.lastname %></td>
      <td><%= doctor.occupation %></td>
      <td><%= link_to 'Show', doctor , :class => "btn btn-warning btn-sm" %></td>
      <td><%= link_to 'Edit', edit_doctor_path(doctor), :class => "btn btn-success btn-sm" %></td>
      <td><%= link_to 'Delete', doctor, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    <div class="p-2">
      <%= paginate @doctors %>
    </div>
  </div>

</div>
